body
{
    background-color: darkslateblue;
    padding: 100px;
    background: url('./csk1.jpg');
}

#csk
{
    height: 200px;
    width: 40%;
    background-color:yellow;
    padding: 20px;
    margin-right: 20px;
    float: left;
    border-radius: 50px;
}
#mi
{
    height: 200px;
    width: 40%;
    background-color:blue;
    padding: 20px;
    margin-right: 20px;
    float: left;
    border-radius: 50px;
}

button
{
    width: 500px;
    font-size: 32px;
    padding: 100px;
    margin-top: 50px;
    background-color:darkgoldenrod;
    color:black;
    border-radius: 50px;
}
.winner
{
    background-color: rgb(196, 39, 11);
    cursor: pointer;
}